@use 'variables' as v;

.gallery {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr;
    gap: 2rem;

    @media (min-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__item {
        position: relative;
        width: 100;
        padding-top: 56.25%;

        @media (min-width: 767px) {
            &:hover {

                .gallery__overlay {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: rgba( 46, 48, 51, 91%);
        display: flex;
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        align-items: center;
        transition: opacity 0.23s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        padding: 0.75rem;
        box-shadow: 0 0 10px 5px rgba(v.$blue, 75%);
    }

    &__title {

    }

    &__description {
        flex: 1 0 auto;
        margin-top: 1rem;
    }

    &__tag-list {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    &__tag {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}