@charset "UTF-8";
@font-face {
  font-family: "ec-theme";
  src: url("../fonts/ec-theme.eot?9yjgk");
  src: url("../fonts/ec-theme.eot?9yjgk#iefix") format("embedded-opentype"), url("../fonts/ec-theme.ttf?9yjgk") format("truetype"), url("../fonts/ec-theme.woff?9yjgk") format("woff"), url("../fonts/ec-theme.svg?9yjgk#ec-theme") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.ec {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ec-theme" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ec:hover {
  filter: grayscale(70%);
}

.ec-Facebook:before {
  content: "";
  color: #18a0fb;
}

.ec-Github:before {
  content: "";
  color: #18a0fb;
}

.ec-Chevron:before {
  content: "";
}

.ec-Download:before {
  content: "";
}

.ec-Facebook1:before {
  content: "";
  color: #18a0fb;
}

.ec-Github1:before {
  content: "";
  color: #18a0fb;
}

.ec-linkedin:before {
  content: "";
  color: #18a0fb;
}

.ec-Scroll:before {
  content: "";
  color: #ccc;
}

html {
  scroll-behavior: smooth;
}

.logo {
  max-width: 150px;
}
@media (min-width: 767px) {
  .logo {
    max-width: 200px;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #4B9EF4;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #4B9EF4;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Emphatic
 */
.hamburger--emphatic {
  overflow: hidden;
}
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger:focus {
  outline: none;
}

.theline {
  max-width: 280px;
}

.gallery {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 767px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery__item {
  position: relative;
  width: 100;
  padding-top: 56.25%;
}
@media (min-width: 767px) {
  .gallery__item:hover .gallery__overlay {
    opacity: 1;
    visibility: visible;
  }
}
.gallery__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(46, 48, 51, 0.91);
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.23s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  padding: 0.75rem;
  box-shadow: 0 0 10px 5px rgba(75, 158, 244, 0.75);
}
.gallery__description {
  flex: 1 0 auto;
  margin-top: 1rem;
}
.gallery__tag-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.gallery__tag {
  height: 40px;
  width: 40px;
  overflow: hidden;
}
.gallery__tag img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gallery__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.gallery__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=sass.css.map */
